*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body {
    background: #000;

}
.section-one {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.section-one h1 {
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
}
form{
    position: relative;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.input {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 40% 40%;
    margin: 0 auto;
    justify-content: center;
    gap: 10px 40px;
    margin-top: 20px;
}
input {
    height: 3rem;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #0026ff;
    background: #fff;
    outline: none;
    border-radius: 5px;
}
.sub-input {
    display: flex;
    justify-content: space-between;
}
#number {
    width: 30%;
}
#amount {
    width: 60%;
}
#submit {
    display: block;
    background: #0026ff;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.section-two {
    width: 100%;
    margin-top: 100px;
}
.nav {
    width: 90%;
    background: #ffffff;
    justify-content: space-around;
    margin: 20px auto;
    display: flex;
    border-radius: 10px;
}
.nav p {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}
.container {
    width: 90%;
    background: #ffffff;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 20px auto;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.container p {
    margin: auto;
}

.container img {
    width: 100%;
    height: 10rem;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.container .edit {
    list-style: none;
    background: #0026ff;
    width: 5rem;
    height: 2.5rem;
    padding: 10px;
    margin-top: -150px;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 80rem;
    cursor: pointer;
    display: none;
}
.container .delete {
    list-style: none;
    background: #0026ff;
    width: 5rem;
    height: 2.5rem;
    padding: 10px;
    margin-top: -50px;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 62.8rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){   
    .input {
        grid-template-columns: 90%;
        
    }
    #number {
        width: 20%;
    }
    #amount {
        width: 78%;
    }
    #submit{
        width: 90%;
    }
    .container img {
        width: 100%;
        height: 7rem;
        padding: 10px;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }
}

@media screen and (max-width: 500px) {
    
}